FirstWebServiceSClientProj/ServiceWSDL/RequestHandlerSOA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="n" type="xsd:string"/>
   <element name="getFactorialReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getFactorialRequest">

      <wsdl:part element="impl:n" name="n">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFactorialResponse">

      <wsdl:part element="impl:getFactorialReturn" name="getFactorialReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RequestHandlerSOA">

      <wsdl:operation name="getFactorial" parameterOrder="n">

         <wsdl:input message="impl:getFactorialRequest" name="getFactorialRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFactorialResponse" name="getFactorialResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RequestHandlerSOASoapBinding" type="impl:RequestHandlerSOA">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getFactorial">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFactorialRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFactorialResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RequestHandlerSOAService">

      <wsdl:port binding="impl:RequestHandlerSOASoapBinding" name="RequestHandlerSOA">

         <wsdlsoap:address location="http://localhost:8080/FirstWebServiceServerProj/services/RequestHandlerSOA"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
