WebService1_SOA_Server/src/main/webapp/wsdl/RequesthandlerSOA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://max" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://max" xmlns:intf="http://max" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://max" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="no" type="xsd:string"/>
   <element name="getFactoReturn" type="xsd:string"/>
   <complexType name="User">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="uid" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="getUserDetailReturn" type="impl:User"/>
   <element name="getttReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getFactoRequest">

      <wsdl:part element="impl:no" name="no">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFactoResponse">

      <wsdl:part element="impl:getFactoReturn" name="getFactoReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getttRequest">

   </wsdl:message>

   <wsdl:message name="getUserDetailResponse">

      <wsdl:part element="impl:getUserDetailReturn" name="getUserDetailReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserDetailRequest">

   </wsdl:message>

   <wsdl:message name="getttResponse">

      <wsdl:part element="impl:getttReturn" name="getttReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RequesthandlerSOA">

      <wsdl:operation name="getFacto" parameterOrder="no">

         <wsdl:input message="impl:getFactoRequest" name="getFactoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFactoResponse" name="getFactoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserDetail">

         <wsdl:input message="impl:getUserDetailRequest" name="getUserDetailRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserDetailResponse" name="getUserDetailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="gettt">

         <wsdl:input message="impl:getttRequest" name="getttRequest">

       </wsdl:input>

         <wsdl:output message="impl:getttResponse" name="getttResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RequesthandlerSOASoapBinding" type="impl:RequesthandlerSOA">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getFacto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFactoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFactoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserDetail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserDetailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserDetailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="gettt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getttRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getttResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RequesthandlerSOAService">

      <wsdl:port binding="impl:RequesthandlerSOASoapBinding" name="RequesthandlerSOA">

         <wsdlsoap:address location="http://localhost:8080/WebService1_SOA_Server/services/RequesthandlerSOA"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
